* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav .logo {
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.content {
    text-align: center;
    z-index: 10;
}

.content h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 4px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.3s;
}

.content a:hover {
    background-color: #fff;
    color: #000;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
