* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black(245, 244, 244);
    font-family: sans-serif;
}

header {
    width: 100%;
    position: fixed;
    background-color: rgb(249, 249, 249);
    box-shadow: -2px -2px 2px 1px black;
    z-index: 1000;
    /* yoo top ni maile add gardeko navbar tala jaro product descricption garda */
    top: 0;
}

/* CART maile yo navbar vitra add gareko */
.cart-slider .cart-content .cart-box img
{
    width: 100%;
}
.cart-slider 
{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px; 
    background-color: #ffffff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: right 0.3s ease-in-out;

}
.cart-slider.active {
    right: 0;
    transition: 0.5s;
}
.cart-title {
    text-align: center;
    font-weight: 600;
    margin-top: 32px;
}
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box {
    display: grid;
    row-gap: 8px;
}
.cart-product-title {
    font-size: 16px;
    text-transform: uppercase;
}
.cart-price {
    font-weight: 500;
}
.cart-quantity
{
    border: 1px solid black;
    outline-color: #fd4646;
    width: 34px;
    text-align: center;
    font-size: 16px;
}
.cart-remove {
    font-size: 24px;
    color: #fd4646;
    cursor: pointer;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    border-top: 1px solid rgb(36, 36, 36);
}
.total-title {
    font-size: 16px;
    font-weight: 600;
}
.total-price {
    margin-left: 8px;
}
.btn-buy {
    display: flex;
    margin: 24px auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover {
    background-color: rgb(22, 22, 22);
}
#cart-close
{
    position: absolute;
    top: 16px;
    right: 12px;
    font-size: 32px;
    cursor: pointer;
}


body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
section{
    background-color: rgb(255, 255, 255)
}

  

.logo {
    position: relative;
    left: 30px;
    scale: 2;
    width: 100px;
    height: 30px;
}

.searchIcon {
    width: 20px;
    position: relative;
    bottom: 30px;
    left: 65px;
}

.searchBox {
    width: 800px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 30px; 
    position: relative;
    left: 60px;
}

.search {
    margin-top: 25px;
}

/*add cursor in cart yoo add gara */
.cart {
    cursor: pointer;
}
.cartIcon {
    width: 30px;
    position: relative;
    bottom: 40px;
    background-color: transparent;
}

.nav1Lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 40px;
}

.nav2Lists {
    background-color: green;
    padding-top: 9px;
    width: 60%;
    border-radius: 20px;
    margin-left: 20%;
    margin-bottom: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
.userIcon{
    position: relative;
    left: 60px;
}

.cartBg {
    width: 120px;
    height: 50px;
    background-color: green;
    border-radius: 20px;
    padding-left: 50px;
    padding-top: 15px;
    color: white;
    margin-top: 20px;
}

header a {
    text-decoration: none;
    padding: 10px;
}

/* i changed section to productpage to stay navbar in it position*/
.productpage {
    padding-top: 140px;
    width: 100%;
}





footer {
    padding-top: 5px;
    width: 100%;
    background-color: rgba(161, 202, 219, 0.462);
    box-shadow: 5px 4px 10px 5px black;
    /*change absolute to relative*/
    position: relative;
    bottom: 0;
    
}

label {
    font-size: 20px;
    font-weight: bolder;
}

ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}
.bg{
    position: relative;
}
/* our services */
.btn{
    position: absolute;
    left: 180px;
    top: 350px;
    padding: 10px;
    
    border: transparent;
    background-color: green;
    color: white;
    margin-left: -100px;

}
.boy{
    width: 200px;
    position: absolute;
    top: 150px;
    left: 200px;
}
.div {
    gap: 400px;
}

.first {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 40px;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    border: 1px solid black;
    padding: 20px 0;
}

.userIcon:hover, .last img:hover {
    transition: .2s;
    transform: scale(1.2);
}
.nav2 a{
    color: white;
    position: relative;
    font-weight: bold;
}
.nav2 a:hover {
    color: rgb(243, 184, 74);
}
/* .nav2 a:visited {
    color: rgb(243, 184, 74);
} */

.nav2 a::before{
    content: '';
    position: absolute;
    bottom: 5px;
    height: 3px;
    width: 0%;
    background-color: black;
}
.nav2 a:hover::before{
   width: 80%;
   transition: .5s;
}

.cartIcon:hover {
    transition: 1s;
    animation-name: cartRotation;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.social{
    transition: .2s;
    transform: scale(1.2);
}


@keyframes cartRotation {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(20deg);
    }
}  

@keyframes enlarge {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
@keyframes imageChanger{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-1000px);
    }
    40%{
        transform: translateX(-1000px);
    }
    50%{
        transform: translateX(-2000px);
    }
    60%{
        transform: translateX(-2000px);
    }
    70%{
        transform: translateX(-3000px);
    }
    80%{
        transform: translateX(-3000px);
    }
    90%{
        transform: translateX(-2000px);
    }
    100%{
        transform: translateX(-2000px);
    }
}
@keyframes textslider{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-970%);
    }
}
